* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 500px;
  height: 700px;
  background-color: purple;

  margin-top: 50px;
  margin-left: 30px;
 

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  border-radius: 10px;
}

.itens {
  background-color: lightyellow;
  width: 120px;
  height: 70px;

  border-radius: 7px;
  border: 2px solid lightgray;
  margin: 10px;

  font-size: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  flex-grow: 2;
}

.item-2 {
  flex-grow: 1;
}

.item-3 {
  flex-grow: 8;
}
